.MovieListCard:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.MovieListCard{
    font-size: 13px;
    padding: 5px;
    height: 400px;
    width: 250px;
}

.rating{
    display: flex;
    flex-direction: row;
    column-gap: 5px;
}
.rating .MuiRating-icon{
    color: gold;
}
.poster{
    display: flex;
    justify-content: center;
}