.MovieTopRated_container{
    background: linear-gradient(135deg, #717489 0%, #8c7daa 50%, #4e516e 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 35px;
    padding-bottom: 35px;
    border: black solid 1px;
    border-radius: 20px;
}
.MovieTopRated_top{
    border-bottom: 1px solid black;
    display: block;
}
.MovieTopRated{
    margin-top: 30px;
    margin-bottom: 50px;
    min-height: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: center;
    row-gap: 10px;
    column-gap: 10px;
}