@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;

}
body{
    font-family: 'Space Grotesk', sans-serif;
    background: #f5f6ff;
    margin: 20px 100px;

}

:root {
    --background-color: white;
}
body {
    background-color: var(--background-color);
}
