.MoviePopularList{
    background: #d19859;
    height: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: center;
    row-gap: 10px;
    column-gap: 10px;
}