.GenreList{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    justify-content: center;
    align-items: center;
}
.button_genre_list{
    font-family: 'Space Grotesk', sans-serif;

}